#unpublish-timestamp:before {
	color: #82878c;
	top: -1px;
	margin-right: .25em;
}

.unpublish-timestamp-wrap input,
.unpublish-timestamp-wrap select {
	font-size: 12px;
	padding: 1px;
	background-color: #fff;
	color: #32373c;
	outline: none;
	-webkit-transition: 0.05s border-color ease-in-out;
	transition: 0.05s border-color ease-in-out;
}

#unpublish-mm {
	height: 21px;
	line-height: 14px;
	padding: 0;
	vertical-align: top;
}

#unpublish-jj,
#unpublish-hh,
#unpublish-mn {
	width: 2em;
}

.unpublish-date,
.unpublish-time {
	float: left;
	margin-top: .6em;
	margin-bottom: .6em;
}

.unpublish-date {
	margin-right: .4em;
}

.unpublish-timestamp-wrap p {
	clear: both;
	margin-top: .4em;
}

#unpublish-block-editor #unpublish-aa {
	width: 3.6em;
}

#unpublish-block-editor #unpublish-jj,
#unpublish-block-editor #unpublish-hh,
#unpublish-block-editor #unpublish-mn {
	width: 2.5em;
}

@media screen and (min-width: 783px) {
	#unpublish-block-editor .unpublish-date {
		margin-bottom: 0;
	}
}